.header{
    text-align: center;
    color: lightblue;
}
.wrapper{
    background: url(./img/bg.jpg);
}
.foot{
    text-align: center;
    color: lightblue;
    font-size: 20px;
}
.main{
    background: url(./img/bg1.jpg); 
    height: 700px;
    color: transparent;
}