body{
    display: flex;
    justify-content: space-between;
    background-color: sandybrown
}
#but1 {
    height:100px;
    width:100px;
    background-color:purple;
    font-size: 20px;
    color: #FFF;
    border-radius: 5px;
  }
#task2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: blue solid 2px;
    height: 100px;
    width: 100px;
    font-size: 50px;
    color: blue;
    border-radius: 10px;
}

#but2{
    height:50px;
    width:290px;
    background-color:teal;
    font-size: 20px;
    color: #FFF;
    border-radius: 5px;
}
.ddblock {
    display: block;
    justify-content:center;
    width: 300px;
}
.ddMenu {
    display: none;
    overflow-y: scroll;
    height: 120px;
    width: 290px;
    border-radius: 5px;
}
.reveal {
    display: flex;
    flex-direction: column;
}
.ddMenu a {
    background-color: teal;
    color: #ddd;
    padding: 12px 16px;
    display: block;
    text-align: left;
    border: #ddd solid 1px;
}

.ddMenu a:hover {
    background-color: black;
}

#empty{
    display: flex;
    justify-content: center;
    align-items: center;
    border: green solid 2px;
    height: 800px;
    width: 800px;
    border-radius: 8px;
}
#circle{
    background-color: green;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    position: absolute;
} 
